<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form th:action="@{/login}" method="post">
    <label for="username"> Username </label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password"> Password </label>:
    <input type="text" id="password" name="username" autofocus="autofocus" /> <br />
    <input type="submit" value="Log in"/>
  </form>
</body>
</html>