<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Websocket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket Connection</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="msg">Message</label>
                    <input type="text" id="msg" class="form-control">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Chat</th>
                </tr>
                </thead>
                <tbody id="chats">

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<script th:inline="javascript">
    var stompClient = null;

    function setConnected(connected){
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected){
            $("#conversation").show();
        }
        else{
            $("#conversation").hide();
        }
        $("#chats").html("");
    }

    function connect(){
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame){
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/public', function(chat){
                showChat(JSON.parse(chat.body).content);
            });
            stompClient.send("/app/test", {}, "") // TEST SEND
        });
    }

    function disconnect(){
        if (stompClient != null){
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendMessage(){
        stompClient.send("/app/send", {}, JSON.stringify({'content': $("#msg").val()}));
    }

    function showChat(message){
        $("#chats").append("<tr><td>" + message + "</td></tr>");
    }

    $(function(){
        $("form").on('submit', function(e){
            e.preventDefault();
        });
        $("#connect").click(function(){ connect(); });
        $("#disconnect").click(function(){ disconnect(); });
        $("#send").click(function(){ sendMessage();});
    })
</script>