<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Websocket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

</head>
<body>

<label for="login_form"> Login </label>
<form id="login_form">
    <label for="userId"> UserId </label>
    <input type="text" id="userId" /> <br />

    <label for="password"> Password </label>
    <input type="text" id="password" /> <br />

    <input type="submit" id="login" value="Submit" />
</form>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket Connection</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="msg">Message</label>
                    <input type="text" id="msg" class="form-control">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Chat</th>
                </tr>
                </thead>
                <tbody id="chats">

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<script th:inline="javascript">
    var stompClient = null;

    function setConnected(connected){
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected){
            $("#conversation").show();
        }
        else{
            $("#conversation").hide();
        }
        $("#chats").html("");
    }

    function connect(){
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        let headers = {Authorization: localStorage.getItem('Authorization')};
        stompClient.connect(headers, function(frame){
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/public', function(chat){
                showChat(JSON.parse(chat.body).content);
            });
            stompClient.send("/app/test", {}, "") // TEST SEND
        });
    }

    function login(userId, password){
        const url = 'http://localhost:8080/login'
        $.ajax(
            {
                type: "POST",
                url: url,
                data: JSON.stringify({
                    'user_id': userId,
                    'password': password,
                    'auto': false
                }),
                dataType: 'json',
                contentType: 'application/json',
                success: function(result){
                    console.log(result);
                    localStorage.setItem("Authorization", result.access_token);
                }
            }
            );
    }

    function disconnect(){
        if (stompClient != null){
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendMessage(){
        stompClient.send("/app/send", {}, JSON.stringify({'content': $("#msg").val()}));
    }

    function showChat(message){
        $("#chats").append("<tr><td>" + message + "</td></tr>");
    }

    $(function(){
        $("form").on('submit', function(e){
            e.preventDefault();
        });
        $("#login").click(function(){ login($("#userId").val(), $("#password").val()); });

        $("#connect").click(function(){ connect(); });
        $("#disconnect").click(function(){ disconnect(); });
        $("#send").click(function(){ sendMessage();});
    })
</script>